{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title></title>
   <style>
       form {
           max-width: 600px;
           text-align: center;
       }
       label {
           display: flex;
           flex-direction: column;
           text-align: center;
       }
       body {
         text-align: center;
         font-size: 60px;
       }
   </style>
</head>
<body>
{{end}}


{{define "footer"}}
</body>
</html>
{{end}}
